.timeline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.timeline .timeline_row {
    display: flex;
    column-gap: 64px;
    flex-wrap: wrap;
    width: 95%;
}

.timeline_row .timeline_column {
    flex: 1 1 320px;
}

.timeline_column .title {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: var(--font-size-h2);
    color: var(--color-6);
    margin: 32px 0 16px 30px;
}

.timeline_column .timeline_box {
    position: relative;
    border-left: 2px solid var(--color-4);
}
