.Container__Projects {
    position: relative;
    max-width: 45%;
    min-width: 500px;
    height: 250px;
}

.Container__Projects .Container__Projects_InfoProject, .Container__Projects_LinksProject{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
}

/* --- Content of the project --- */

.Container__Projects_InfoProject {
    transition: opacity var(--transition-duration-3) ease, visibility 0s linear var(--transition-duration-3);
}

.Container__Projects_InfoProject .Container__Projects_divImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    border-radius: 10px;
}

.Container__Projects_divImg img{
    width: 95%;
    height: 95%;
    border-radius: 10px;
    object-fit:cover;
    border: 2px solid black; 
}

.Container__Projects_divContent {
    width: 55%;
    height: 100%;
    padding: 15px;
}

.Container__Projects_divContent h3{
    margin: 15px 0px 0px 0px;
    font-size: var(--font-size-h3);
    color: var(--color-4);
}

.Container__Projects_divContent p{
    display: block;
    font-size: var(--font-size-p);
    color: var(--content-color);
    height: 50%;
}

.Container__Projects_divContent ul{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 25px;
    gap: 5px;
    color: var(--color-6);
}

/* --- Color Icons */

ul .Js {
    font-size: 400px;
}

/* --- Content of the links --- */
.Container__Projects_LinksProject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    transition: opacity var(--transition-duration-3) ease, visibility 0s linear var(--transition-duration-3);
}

.Container__Projects_LinksProject button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 60px;
    padding: 32px;
    transition: background var(--transition-duration-3);
    background-color: var(--color-6);
    border: none;
}

.Container__Projects_LinksProject button svg{
    color: var(--color-0);
    transition: color var(--transition-duration-3);
}

.Container__Projects_LinksProject button:hover{
    background-color: var(--color-0);
    cursor: pointer;
}

.Container__Projects_LinksProject button:hover > svg{
    color: var(--color-6);
}

.Container__Projects:hover .Container__Projects_InfoProject{
    opacity: 0; 
    transition: opacity var(--transition-duration-3) ease, visibility var(--transition-duration-3) linear var(--transition-duration-3);
}

.Container__Projects:hover .Container__Projects_LinksProject{
    opacity: 1; 
    visibility: visible;
    transition: opacity var(--transition-duration-3) ease, visibility var(--transition-duration-3) linear var(--transition-duration-3); /* Cambiamos el delay de visibilidad a 0s*/
}

/* --- Media Querys --- */

@media (max-width: 1064px) {
    .Container__Projects {
        min-width: 580px;
        height: 300px;
    }
}

@media (max-width: 610px) {

    .Container__Projects {
        max-width: 300px;
        min-width: 300px;
        height: 500px;
    }

    .Container__Projects .Container__Projects_InfoProject, .Container__Projects_LinksProject{
        flex-direction: column;
    }

    .Container__Projects_InfoProject .Container__Projects_divImg {
        width: 100%;
        height: 50%;
    }
    
    .Container__Projects_divContent {
        width: 95%;
        height: 50%;
        padding: 20px;
    }

    .Container__Projects_LinksProject div {
        width: 100%;
        height: 50%;
    }
    
}


@media (max-width: 350px) {

    .Container__Projects {
        max-width: 250px;
        min-width: 250px;
        height: 450px;
    }

    .Container__Projects_divContent h3 {
        font-size: 20px;
    }

    .Container__Projects_divContent p {
        font-size: 14px;
    }
    
}