html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: var(--background-color);
    background-size: 300%, 300%;
}

#root {
    width: 100%;
}