header {
    width: 100%;
}

.Menu {
    width: 100%;
    height: 30px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    z-index: 1;
}

.Menu .Menu__div {
    border: 1px solid var(--color-4);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: var(--color-0);
}

.Menu a {
    text-decoration: none;
    margin: 5px;
    color: var(--color-6);
    transition: color var(--transition-duration-1);
}

.Menu a:hover {
    color: var(--color-4);
}

.Menu .selected {
    color: var(--color-4);
}

.Menu__Icons {
    width: 20px;
    height: 18px;
    color: var(--color-5);
    transition: color var(--transition-duration-2);
}

.Menu button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

.Menu button:hover {
    cursor: pointer;
}

.Menu .Menu__Button_Language{
    width: 40px;
}

.Menu .Menu__Button_Language img {
    width: 100%;
    object-fit: cover;
}

.Menu__Icons:hover{
    cursor: pointer;
    color: var(--color-2);
}

/* CSS RESPONSIVE */

@media (max-width: 450px) {

    .Menu {
        margin-top: 0px;
    }

    .Menu .Menu__div{
        width: 100%;
        border-radius: 0px;
        border: 0px;
        border-bottom: 2px solid var(--color-4);
        justify-content: center;
        font-size: 14px;
    }

    /*

    .Menu__div a{
        display: none;
    } 

    .Menu__div .Menu__Button_Theme{
        position: absolute;
        left: 10px;
    } 

    .Menu__div .Menu__Button_Responsive{
        display: flex;
        position: absolute;
        right: 10px;
        font-size: 20px;
        color: var(--color-6);
    } */
}